<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Game_Shot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Project_Pipeline_01.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        
        <Game_Shot.My.MySettings>
            <setting name="Proj1Pathway" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj2Pathway" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="ButtonsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Proj3Pathway" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="Proj3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj1en" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Proj2en" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Proj3en" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Mainname" serializeAs="String">
                <value />
            </setting>
            <setting name="Project1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addbutton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setprojbutton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plusbutton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjRoot" serializeAs="String">
                <value>My.Computer.FileSystem.SpecialDirectories.MyDocuments</value>
            </setting>
            <setting name="ProjClient" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjClientName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjRoot2" serializeAs="String">
                <value>My.Computer.FileSystem.SpecialDirectories.MyDocuments</value>
            </setting>
            <setting name="Root2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Projrootglobal2" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjClientglobal2" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Screencapturekey" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="MonitorFolderglobal" serializeAs="String">
                <value />
            </setting>
        </Game_Shot.My.MySettings>
        <Project_Pipeline_01.My.MySettings>
            <setting name="Proj1Pathway" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj2Pathway" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="ButtonsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Proj3Pathway" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="Proj3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj1en" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Proj2en" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Proj3en" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Mainname" serializeAs="String">
                <value />
            </setting>
            <setting name="Project1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addbutton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setprojbutton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plusbutton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjRoot" serializeAs="String">
                <value>My.Computer.FileSystem.SpecialDirectories.MyDocuments</value>
            </setting>
            <setting name="ProjClient" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjClientName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjRoot2" serializeAs="String">
                <value>My.Computer.FileSystem.SpecialDirectories.MyDocuments</value>
            </setting>
            <setting name="Root2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Projrootglobal2" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjClientglobal2" serializeAs="String">
                <value />
            </setting>
            <setting name="Proj1Name" serializeAs="String">
                <value>
                </value>
            </setting>
        </Project_Pipeline_01.My.MySettings>
    </userSettings>
</configuration>